<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.donorhub" xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <application android:theme="@style/AppTheme" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:label="DonorHub" android:icon="@drawable/donar" android:allowBackup="true">

    <activity android:name=".MainActivity6"/>

    <activity android:name=".register"/>

    <activity android:name=".MainActivity5"/>

    <activity android:name=".MainActivity4"/>

    <activity android:name=".MainActivity3"/>

    <activity android:name=".MainActivity7"/>

    <activity android:name=".MainActivity2"/>

    <activity android:name=".Aboutus"/>

    <activity android:name=".facts"/>


    <activity android:name=".MainActivity">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

</application>

</manifest>